.import-project-container{
    // background-color: red;
    padding-right: 20px;

    label{
        margin-bottom: 10px;
        display: block;
    }

    .import-project-link{
        margin-bottom: 30px;
        .link-actions{
            display: flex;
            align-items: center;

            .bp3-input-group{
                flex: 1;
            }
        }
      
    }

    .import-project-folder{
        margin-top: 20px;
        .tree-wrapper{
            min-height: 190px;
            background-color: #243742;
            border-radius: 5px;
            // border:solid;
            position: relative;
            box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.432);
            .empty-c{
                position: absolute;
                font-weight: bolder;
                font-size: 18px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}